<template>
<div v-if="municipio.codigo">
  <h1 v-text="$ml.get('textomunicipio')"></h1>
  <hr>
  <select name="" id="" v-model="municipio" @change="sendWeather">
    <option v-for="(muni,i) in municipios" :key="i" :value="{codigopoblacion: muni.COD_GEO, codigo: muni.CODPROV}">{{muni.NOMBRE}}</option>
  </select>
</div>
</template>

<script>
import * as Service from "../services/ApiService.js";
import { bus } from "../main.js";
export default {
  created() {
    bus.$on("addMunicipalityProvince", municip => {
      this.municipio.codigo = municip.cod;
      Service.searchMunicipality(municip.cod).then(resp => {
        this.municipios = resp.data;
      });
    });
  },
  data() {
    return {
      municipios: null,
      municipio: {
        codigo: null,
        codigopoblacion: null
      }
    };
  },
  methods: {
    sendWeather() {
      console.log("Buscar tiempo");
      bus.$emit("addWeather", this.municipio);
    }
  }
};
</script>

<style scoped>
div {
  margin: 2%;
}
</style>
