<template>
<div>
  <!-- <h1>Navbar</h1> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


    <!-- <button class="btn btn-outline-primary mr-2"
             v-for="lang in $ml.list"
            :key="lang"
            @click="$ml.change(lang)"
            v-text="lang">
    </button> -->

    <img class="mr-2" @click="$ml.change($ml.list[0])"  src="../assets/flagofunitedkingdom_6362.png" @change="$ml.list[0]" alt="">
    <img class="mr-2"  @click="$ml.change($ml.list[2])"  src="../assets/descarga.jpg" @change="$ml.list[0]" alt="">
    <img class="mr-2" @click="$ml.change($ml.list[1])"   src="../assets/portugal-flag-31814.jpg" @change="$ml.list[0]" alt="">


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
</template>

<script>
export default {
  data() {
    return {
      img: [
        {nombre: require('../assets/portugal-flag-31814.jpg')},
        {nombre: require('../assets/flagofunitedkingdom_6362.png')},
        {nombre: require('../assets/descarga.jpg')}
      ]

    }
  }
};
</script>

<style>
img {
  width: 3%;
  height: 3%;
}
</style>

