<template>
<div>
  <h1 v-text="$ml.get('textoprovincia')"></h1>
  <hr>
  <select v-model="provincia"  @change="sendMunicipality">
    <option  v-for="(prov,i) in provincias" :key="i" :value="{cod:prov.CODPROV, nombre:prov.NOMBRE_PROVINCIA}" > {{prov.NOMBRE_PROVINCIA}}</option>
  </select>
</div>
</template>

<script>
 import * as Services from '../services/ApiService'
 import {bus} from '../main.js'
export default {
  created() {

    Services.searchProvince()
     .then((respuesta) =>{
      console.log(respuesta)
      this.provincias = respuesta.data;
    });
  },
  data() {
    return {
      provincias: [],
      provincia: {}
    }
  },
  methods: {
    sendMunicipality() {
        bus.$emit('addMunicipalityProvince', this.provincia);
    }
  }
}
</script>

<style scoped>
  div {
    margin: 2%;
  }
</style>
