<template>
<div v-if="error">
  <!-- <table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col"><p>No se han encontrado datos de este lugar</p></th>
    </tr>
  </thead>
  </table> -->
  <template >
     <span slot="header">
                        No se han encontrado datos de este Lugar :(
      </span>
  </template>
</div>
<div v-else-if="tiempo">

    <h1 v-text="$ml.get('textotiempo')"></h1>
    <hr>
  <table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col" v-text="$ml.get('textotablafecha')"></th>
      <th scope="col">Tº Max</th>
      <th scope="col">Tº Min</th>
      <th scope="col">S.T Max</th>
      <th scope="col">S.T Min</th>
      <th scope="col">H.R Max</th>
      <th scope="col">H.R Min</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(time, i) in tiempo" :key="i" v-if="i < 3">
      <th scope="row">{{time['@attributes'].fecha}}</th>
      <td class="text-danger">{{time.temperatura.maxima}}º</td>
      <td class="text-info">{{time.temperatura.minima}}º</td>
      <td class="text-danger">{{time.sens_termica.maxima}}º</td>
      <td class="text-info">{{time.sens_termica.minima}}º</td>
      <td class="text-danger">{{time.humedad_relativa.maxima}}%</td>
      <td class="text-info">{{time.humedad_relativa.minima}}%</td>
    </tr>
  </tbody>
</table>
<!-- <pre>{{$data}}</pre> -->
</div>

</template>

<script>
import { bus } from "../main.js";
import * as Service from "../services/ApiService";
export default {
  props: ['tipo', 'posicion'],
  template: `
            <section class="alerta" :class="[tipo, posicion]">
                <header class="alerta__header">

                    <slot name="header"> Hola</slot>
                    <a  type="button" href="#" @click="ocultarWidget()">Cerrar</a>
                </header>
                <div class="alerta__contenido">
                    <slot>
                    Lorem ipsum sit amet,....
                    </slot>
                </div>
                <footer class="alerta__footer">
                <slot name="footer">Texto Footer</slot>
                </footer>


            </section>

                `,
  created() {
    bus.$on("addWeather", pueblo => {
      Service.searchMunicipilatyWeather(pueblo.codigo, pueblo.codigopoblacion)
        .then(resp => {
          console.log("TIEMPO", resp);
          this.tiempo = resp.data.prediccion.dia;
        })
        .catch(error => {
          console.log("No se encuntran tiempos", error);
          this.error = error;
        })
        .then(def => {
          console.log("default weather", def);
        });
      this.error = null;
    });
  },
  data() {
    return {
      tiempo: null,
      error: null,
      mostrarError: 'No se han encontrado datos de este lugar'
    };
  }
};
</script>

<style scoped>
div {
  margin: 2%;
}
p {
  font: 16px "Comic Sans MS", cursive;
  color: red;
  text-align: center;
}
.alerta--error {
    background-color: indianred;
}

.alerta--advertencia {
    background-color: lightgoldenrodyellow;
}

.alerta--exito{
    background-color: lightgreen;
}

.alerta--arriba-izquierda {
    left: 0;
    top: 0;
}

.alerta--abajo-izquierda {
    left: 0;
    bottom: 0;
}

.alerta--arriba-derecha {
    right: 0;
    top: 0;
}
</style>
