<template>
  <div>

    <Navbar></Navbar>
    <Provincia></Provincia>
    <Municipio></Municipio>
    <Tiempo ></Tiempo>
  </div>
</template>


<script>

import Municipio from './components/Municipio';
import Provincia from './components/Provincia';
import Tiempo from './components/Tiempo';
import Navbar from './components/Navbar';
import { MLBuilder } from 'vue-multilanguage'

export default {
  components: {
    Navbar,Municipio,Provincia,Tiempo
  },
  data() {
    return {

    }
  }
}
  /*data () {
    return {
      // friends: 5
    }
  },
   computed: {
    // mlmyMessage () {
    //   return new MLBuilder('msg').with('f', this.friends).with('l', 406);
    // },
    // mljojo(){
    //   return new MLBuilder('title').with('0', 'Paquito');
    // }
  }
}*/
</script>

<style>

</style>

<!-- <h1 v-text="$ml.with('VueJS').get('title')" />
     <p v-text="$ml.get('myMessage')">HEY</p>
     <p v-text="$ml.get('jojo')">HEY</p>
     <button class="btn btn-info"
             v-for="lang in $ml.list"
            :key="lang"
            @click="$ml.change(lang)"
            v-text="lang"
    /> -->
